header {
    margin-top:         40px;
    width:              100vw !important;
    padding:            32px;
    margin-bottom:      32px;
}

body {
    /*font-size:          1.3rem;*/
}

hr {
    margin:             48px;
}

.my-margin {
    margin-top:         8px;
    margin-bottom:      8px;
}

.cv-title {
    font-weight:        bold;
    font-size:          1.3rem;
}

.white-text {
    color:              white;
}

.color2 {
    background-color:   #587291;
}

.full-width {
    min-width: 100%;
    max-width: 100%;
}
